<!-- Getting Started -->
<div class="home-header">
  <div class="home-header-content text-center">
    <h4 class="home-header-title">
      <strong> What We think, We Become. </strong> <br>
    </h4>
    <h5>Are you ready to know my cup of coffee???☕</h5>
    <br>
    <a href="#about" class="btn btn-lg btn-info home-header-button">
      Getting Started
    </a>
  </div>
</div>

<!-- About ME -->
<div class="about-me-container" id="about">
  <div class="container">
    <h3 class="text-center">ABOUT ME</h3>
    <div class="selection-title-divider"></div>
    <p class="text-center">
      <em>
        I love Coding!
      </em>
    </p>
    <p>
      Long ago, actually not so long a graduate in Computer Science and Engineering from Pondicherry University and forwarding now as a Software Engineer with sufficient knowledge even to teach a layman. Come let us pop into my skills.
    </p>
    <p>
      I am a self motivated and talented young software engineer who have been working in the field of Web Development in a well established product based company.
      I have been building responsive web based applications in a effective manner.
      I am also good in <b>EmberJs</b> which is a popular JavaScript framework for developing single page application. Searching new technolgies over web is my hobby.
    </p>
    <div class="d-flex justify-content-between about-me-panel">
      <img src="/img/profile.jpeg" class="rounded about-me-photo" alt="Theenadayaln" width="400" height="300">
      <div class="about-me-content">
        <div>
          {{inline-svg 'human' class='svg va-mid mr-3'}}
          THEENADAYALAN K
        </div>
        <div>
          {{inline-svg 'hat' class='svg va-mid mr-3'}}
          B.Tech (Computer Science & Engineering)
        </div>
        <div>
          {{inline-svg 'designation' class='svg va-mid mr-3'}}
          Front End Web Developer
        </div>
        <div>
          {{inline-svg 'work' class='svg va-mid mr-3'}}
          Zoho Corporation
        </div>
        <div>
          {{inline-svg 'country' class='svg va-mid mr-3'}}
          India
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SKillSets -->
<div class="skillset-container">
  <div class="container">
    <div class="skillset-header">
      <h3 class="text-center">MY PASSION</h3>
      <div class="selection-title-divider"></div>
      <p class="text-center">
        <em>
          I love Working too!
        </em>
      </p>
    </div>
    <div class="skillset-panel">
      <p>EmberJs</p>
      <div class="skillset-bar">
        <div class="skillset-acquired" style="width:70%;">70%</div>
      </div>
      <p>HTML & CSS</p>
      <div class="skillset-bar">
        <div class="skillset-acquired" style="width:90%;">90%</div>
      </div>
      <p>JavaScript</p>
      <div class="skillset-bar">
        <div class="skillset-acquired" style="width:85%;">85%</div>
      </div>
      <p>Music & Fun</p>
      <div class="skillset-bar">
        <div class="skillset-acquired" style="width:100%;">100%</div>
      </div>
    </div>
  </div>
</div>

<!-- Education -->
<div class="education-container">
  <div class="container">
    <div class="edu-header text-center">
      <h4>EDUCATION</h4>
      <div class="selection-title-divider"></div>
      <p class="text-center">
        <em>
          An Educational Journey!
        </em>
      </p>
    </div>
    <ul class="edu-timeline">
      <li>
        <div class="timeline-icon"></div>
        <div class="timeline-panel">
          <div class="timeline-header">
            <div class="timeline-title">
              Bachelor Of Technology
              <span class="small text-muted">
                (Computer Science & Engineering)
              </span>
              &nbsp;
              <span class="course-duration">
                2013-2017
              </span>
            </div>
          </div>
          <div class="timeline-content">
            Sri Manakula Vinayagar Enigneering College <br>
            Pondicherry
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-icon"></div>
        <div class="timeline-panel pull-right">
          <div class="timeline-header">
            <div class="timeline-title">
              Higher Secondary
              <span class="small text-muted">
                (Biology)
              </span>
              <span class="course-duration">
                2011-2013
              </span>
            </div>
          </div>
          <div class="timeline-content">
            Bonne Nehru Higher Secondary School <br>
            Thirukkanur
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-icon"></div>
        <div class="timeline-panel">
          <div class="timeline-header">
            <div class="timeline-title">
              SSLC
              <span class="course-duration">
                2010-2011
              </span>
            </div>
          </div>
          <div class="timeline-content">
            Government High School <br>
            Sorapet
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Career -->
<div class="career-container">
  <div class="text-center text-uppercase">
    <h4>Experience</h4>
    <div class="selection-title-divider"></div>
  </div>
  <p class="text-center">
    <em>
      Reflection of My Educational Journey!
    </em>
  </p>
  <div class="container">
    <div class="career-panel">
      <h5>
        Member Technical Staff / Zoho Corporation
      </h5>
      <h6 class="career-duration-color">
        Jun 2017 - <span class="label-present">Current</span>
      </h6>
      <p>
        I have been working here as a full time Front End Web Developer. EmberJs is a JavaScript web framework which we are using to develop complex and ambitious web applications.
      </p>
      <hr>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer-container">
  <div class="hide-on-mobile">
    <div class="footer-header"> Contact </div>
    <small>
      +91 9629059673
    </small>
  </div>
  <div>
    <div class="footer-header text-center pb-3"> Follow </div>
    <div class="footer-social-icons d-flex justify-content-between">
      <a href="https://github.com/theenadayalank" target="_blank">{{inline-svg "github-logo" class="svg"}}</a>
      <a href="https://twitter.com/theenadayalan_k" target="_blank">{{inline-svg "twitter-logo" class="svg"}}</a>
      <a href="https://www.facebook.com/theenadayalank" target="_blank">{{inline-svg "facebook-logo" class="svg"}}</a>
      <a href="mailto:puduvai.theena@gmail.org" >{{inline-svg 'mail' 'svg'}}</a>
    </div>
    <span class="small text-muted">
      &copy; Theenadayalan 2018
    </span>
  </div>
  <div class="hide-on-mobile">
    <div class="footer-header"> Address </div>
    <small>
      22, Thiruvannamalai Road,<br>
      Sorapet,<br>
      Puducherry, India.
    </small>
  </div>
</div>
